<!--<p>Find me in app/views/books/show.html.erb</p>-->
<h2>Title</h2>
<%=@book.title %>

<h2>Body</h2>
<%=@book.body %>

<p class="show-link">
   <div="show-item">
     <%= link_to "Edit",edit_book_path(@book.id) %>
   </div> 
<!--%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure？" %-->
   <div="show-item2">
    <%= link_to "Back",books_path(@book.id)  %>
   </div>
</p>